extends layout

block content

  mixin colors(colors)
    ul.colors
      - each color in colors
        li(id="#{color}", class="color #{color}")
          a.back(href="#")&times;
          a.fill(href="##{color}", style="background-color:#{color}")= color

  +colors(colors)

block footerScripts